#ama_question_submit {
    .inside {
        margin: 0;
        padding: 0;
    }
}

#ama_status {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
}

.ama-field {
    margin: 1.5em 0;

    @media (min-width: 900px) {
        clear: both;
        overflow: hidden;
    }

    label {
        display: block;
        font: {
            weight: bold;
        }
        margin-bottom: 3px;

        @media (min-width: 900px) {
            float: left;
            margin: 0;
            width: 18%;
        }
    }

    input[type="email"],
    input[type="text"]:not(.ama-color-picker):not(.text-small),
    input[type="url"] {
        display: block;
        width: 99%;
    }

    .text-small,
    input[type="number"] {
        display: inline-block;
        width: auto;
    }

    @media (min-width: 900px) {
        .ama-input-wrapper {
            float: right;
            width: 80%;
        }
    }
}