.ask-me-anything-status {
    a {
        background: #A9A9A9;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: white;
        display: inline-block;
        padding: 4px 8px;
    }
}

.ama-submit-spam {
    color: #a00;

    &:hover {
        color: red;
    }
}

.ama-submit-ham {
    &, &:hover {
        color: #d98500;
    }
}