.ama-error {
    background: #d9534f;
    color: white;
    margin: 0 0 1.5em;
    padding: 1em;

    ul {
        margin: 0;
    }
}

.ama-success {
    background: #5cb85c;
    color: white;
    margin: 0 0 1.5em;
    padding: 1em;

    ul {
        margin: 0;
    }
}