.ama-error {
    background: #E14D43;
    color: white;
    margin: 0 0 1.5em;
    padding: 1em;

    ul {
        margin: 0;
    }
}

.ama-success {
    background: #67A55E;
    color: white;
    margin: 0 0 1.5em;
    padding: 1em;

    ul {
        margin: 0;
    }
}