/* AMA Buttons */
.ask-me-anything-button {
    background: #e14d43;
    border: none;
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: none;
}

/* Trigger Button */
.ask-me-anything-trigger-button {
    // Bottom right by default
    position: fixed;
    bottom: 0;
    right: 75px;

    // Bottom left
    &.ask-me-anything-button-bottom-left {
        right: auto;
        left: 75px;
    }

    // Side left
    &.ask-me-anything-button-left {
        bottom: 52%;
        right: auto;
        left: 0;
        -webkit-transform-origin: 0 50%;
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        -o-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transform: rotate(90deg) translate(50%, -50%);
        -moz-transform: rotate(90deg) translate(50%, -50%);
        -ms-transform: rotate(90deg) translate(50%, -50%);
        -o-transform: rotate(90deg) translate(50%, -50%);
        transform: rotate(90deg) translate(50%, -50%);
    }

    // Side right
    &.ask-me-anything-button-right {
        bottom: 52%;
        right: 0;
        -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

/* Close Modal */
.ama-close-modal {
    background: none;
    border: none;
    color: #C7C7C7;
    cursor: pointer;
    font: {
        size: 27px;
        weight: bold;
    }
    line-height: 1;
    padding: 1px 6px;
    position: absolute;
    top: 5px;
    right: 5px;
    -webkit-appearance: none;

    &:hover {
        color: #909090;
    }
}

/* Pagination */
.ama-pagination {
    border-top: 1px solid #dcdcdc;
    padding: 1em;

    button {
        background: #8c8c8c;
        padding: 5px 10px;

        &:hover {
            background: darken(#8c8c8c, 10);
        }
    }

    @media (min-width: 768px) {
        clear: both;
        overflow: hidden;

        .ama-next-questions {
            float: right;
        }

        .ama-previous-questions {
            float: left;
        }
    }
}