.ama-single-question-wrap {
    border-bottom: 1px solid #dcdcdc;
    margin: 0 -1em 1em;
    padding: 0 1em 1em;

    .ama-question-actions {
        @media (min-width: 768px) {
            text-align: right;
        }
    }

    .ama-question-edit-link,
    .ama-up-vote,
    .ama-down-vote {
        color: white;
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;

        .fa {
            margin-right: 3px;
        }
    }

    .ama-up-vote {
        background: $color-up-vote;

        &:hover, &:active, &:focus, &.ama-disabled {
            background: darken($color-up-vote, 10);
        }
    }

    .ama-down-vote {
        background: $color-down-vote;

        &:hover, &:active, &:focus, &.ama-disabled {
            background: darken($color-down-vote, 10);
        }
    }

    .ama-disabled {
        cursor: default !important;
    }

}

.ama-question-edit-link {
    background: #8c8c8c;
    text-decoration: none;

    &:hover {
        background: darken(#8c8c8c, 10);
    }
}

.ama-load-question-form {
    display: inline-block;
    margin-bottom: .5em;
}

.ama-question-submitter {
    display: block;
    font-style: italic;
}